<footer class="wanderlust-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <h6 class="footer-heading">Support</h6>
                    <ul class="footer-links">
                        <li><a href="/help-center">Help Centre</a></li>
                        <li><a href="/aircover">AirCover</a></li>
                        <li><a href="/anti-discrimination">Anti-discrimination</a></li>
                        <li><a href="/disability-support">Disability support</a></li>
                        <li><a href="/cancellation-options">Cancellation options</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h6 class="footer-heading">Hosting</h6>
                    <ul class="footer-links">
                        <li><a href="/listings/new">List your property</a></li>
                        <li><a href="/aircover-for-hosts">AirCover for Hosts</a></li>
                        <li><a href="/hosting-resources">Hosting resources</a></li>
                        <li><a href="/community-forum">Community forum</a></li>
                        <li><a href="/hosting-responsibly">Hosting responsibly</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h6 class="footer-heading">WanderLust</h6>
                    <ul class="footer-links">
                        <li><a href="/newsroom">Newsroom</a></li>
                        <li><a href="/new-features">New features</a></li>
                        <li><a href="/careers">Careers</a></li>
                        <li><a href="/investors">Investors</a></li>
                        <li><a href="/gift-cards">Gift cards</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h6 class="footer-heading">Follow us</h6>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fa-brands fa-facebook me-2"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter me-2"></i>Twitter</a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram me-2"></i>Instagram</a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube me-2"></i>YouTube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
                <span>&copy; 2026 WanderLust, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="#">Sitemap</a></span>
                <span>
                    <i class="fa-solid fa-globe me-1"></i>English (US)
                    &nbsp;&nbsp;
                    <i class="fa-solid fa-bangladeshi-taka-sign me-1"></i>BDT
                </span>
            </div>
        </div>
    </div>
</footer>