<% layout("/layouts/boilerplate") %>
<div class="container new-listing-container">
    <h3 class="new-listing-heading">Create a New Listing</h3>
    <form action="/listings" method="POST" novalidate class="needs-validation new-listing-form">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter title" required>
                <div class="invalid-feedback"> Please enter a valid title. </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" name="description" class="form-control" placeholder="Enter description" required></textarea>
                <div class="invalid-feedback"> Please enter a description. </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL:</label>
                <input type="text" id="image" name="image[url]" class="form-control" placeholder="Enter image URL" required>
                <div class="invalid-feedback"> Please enter a valid image URL. </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input type="number" id="price" name="price" class="form-control" step="0.01" placeholder="e.g., ৳3,000 for 2 nights, ৳2,400 for 2 nights" required>
                <div class="invalid-feedback"> Please enter a valid price. </div>
            </div>
                <div class="row">
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" id="location" name="location" class="form-control" placeholder="Enter location" required>
                        <div class="invalid-feedback"> Please enter a valid location. </div>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" id="country" name="country" class="form-control" placeholder="Enter country" required>
                        <div class="invalid-feedback"> Please enter a valid country. </div>
                    </div>
                </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-danger"> Create Listing </button>
            </div>
        </form>
    </div>